  
<table class="table">
  <thead class="thead-dark">
    <th scope="col" colspan="3">
        board works!
    </th>
  </thead>
  <tr>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
  </tr>
  <tr>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
  </tr>
  <tr>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
  </tr>
</table>
