  
<table class="table">
  <thead class="thead-dark">
    <th scope="col" colspan="3" class="text-center">
        Board
    </th>
  </thead>
  <tr class="thead-light">
      <th scope="col" colspan="3" class="text-center">
          <p>O</p>
      </th>
  </tr>
  <tr>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
  </tr>
  <tr>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
  </tr>
  <tr>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
    <td>
      <app-grid></app-grid>
    </td>
  </tr>
</table>
